/* section 1  */

.wrapper {
  display: flex;
  justify-content: space-around;
  background-color: black;
  line-height: 40px;
  align-items: center;
}
.wrapper__container {
  font-family: var(--font-jura);
  color: white;
  margin-left: 2em;
}
.green {
  color: var(--color-green);
}
.wrapper__container-button-container{
    margin-top: 10em;
}
.wrapper__container-button {
  background-color: black;
  color: white;
  padding: 0.5em;
  border: 1px solid var(--color-green);
  font-family: var(--font-jura);
  transition: transform 0.3s ease; 
}
.wrapper__container-button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.hero-img {
    max-width: 100%;
    height: auto; 
}



/* Section 2 About Me */
.img{
    max-width: 100%;
    width: 45em;
    height: auto; 
    padding:1em;
   
}
.about{
    background-color: #1E1E1E;
    display: flex;
}

.about__container{
    color: white; 
    font-family: var(--font-jura);
}

.about__container--title{
  display: flex;
justify-content: center;
}

.about__container--description{
  display: flex;
  justify-self: center;
}

.about__container--nav{
  margin-top:2em;
  display: flex;
  justify-content: space-around;

}

.navbar{
  position: relative;
}
 .navbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
}

.navbar:hover::after {
  background-color: var(--color-green);
  transform: scaleX(1);
}
.nav__container{
  margin-top:2em;
  border:3px solid orange; 
line-height: 2em;
}






@media screen and (max-width:801px) {
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
        background-color: green;
      }

      .wrapper__container {
        margin-left: 0em;
      }
      .hero-img {
        flex-shrink: 1;
        max-width: 100%; 
        height: auto;
    }
    .wrapper__container-button-container{
        margin:2em 0em 2em 0em;
    }
    .green{
        color:black;
    }
}
